gr
.DS_Store
.README.md.swp
.vscode/
docs/.DS_Store
docs/magerLinkedIN(1).png
docs/magerLinkedIN(2).png
docs/magerLinkedIN.png
docs/magertron(1).png
docs/magertron-logo-linkedin.svg
docs/magertron-logo-v2.svg
docs/magertron-logo-v3.svg
docs/magertron-logo-v4.svg
docs/magertron-logo.svg
docs/magertron.jpg
docs/screenshots/.DS_Store
helm/.DS_Store
helm/orchestrator/.DS_Store
helm/orchestrator/templates/.DS_Store
